*{
	padding: 0;
	margin:0;
	border:0;
}
*,*:before,*:after{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
:focus,:active{outline:none;}
a:focus,a :active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{
	height: 100%;
	width:100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button ::-moz-focus-inner {pudding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li {list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400;}
body{	background : url("../img/paper_texture3897.jpg") ;

	
}	

.header {
	display: flex; 
	justify-content: space-between;
	align-items: center;
	background-color: #e8e8e8;
	border-radius: 5px;
	border:2px solid #7C5961;
}
.header-center{

}
.header-left-img{
	height:40px;

}
.input {
  box-sizing: border-box;
  padding: 10px;
  margin-left:35%;
  width: 25%;
  height: 35px;
  width: 200px;
  border-radius: 5px;
background-color: #24272E;
border:2px solid #7C5961;
color: white;
}

.anketa{
padding: 125px 0 0 0;	

}


.content-header
.content-header_category{
color: #273d46;
font-family: "Arial Mt";
letter-spacing: 2.8px;
padding: 0 0 40px 290px;
font-size: 36px;
}
.content-header__subcategory{
	width: 721px;
height: 75px;
color: #273d46;
font-family: "Times New Roman PSMT";
font-size: 36px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 50px;
text-align: center;
font-style: normal;
letter-spacing: normal;
line-height: normal;
padding:0 0 0 100px      ;
}

.content-image img{
	max-width: 841px ;
	padding: 20px;
	width : 841px;
}

.content-buttom{
	padding: 0px 45px;
}

.content-buttom____text{
	color:#273d46 ;
	font-size: 24px;
	line-height: 40px;
	margin: 0px 0px 48px 0px;}

.content-buttom___info
.content-buttom___info_list li{	
	font-size: 20px;
   margin: 30px;
font-family: "Arial MT";
padding: 0 0 0 20px;
}


.content-buttom___info___link{
color: #d7e8e7;
font-size: 25px;
background-color: #80b7b3;
border-radius: 24px;
padding:10px 30px 10px 10px;
margin:30px; }
.content-buttom___info___link:hover{
	background-color: #0b1419;

}

.content-buttom___info___link span {
	background : url("../img/Shape_2@3x.png") right no-repeat;
padding: 0 30px 0 10px;
}
.content-header_category2{
color: white;
font-family: "Arial Mt";
letter-spacing: 2.8px;
padding: 0 0 40px 200px;
font-size: 30px;
margin:10px ;

}
.content2 {
	background: url("../img/paper_texture330.jpg") no-repeat;
	color:white;


}
.contact-uss{
margin-left:40%;
	}



.button{
background-color: #AE4B5D;
width: 40px;
height: 33px;
border-radius: 5px;
margin-left: 10px;
border:2px solid #AE4B5D;
}

